{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{ $gitemail := promptString "git email" -}}
{{ $gituser := promptString "git username" -}}

[data]
    osid = {{ $osid | quote }}
    gitemail = {{ $gitemail | quote }}
    gituser = {{ $gituser | quote }}

