{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{ $gitemail_before := promptString "git email (before @, e.g. firstname.lastname)" -}}
{{ $gitemail_after := promptString "git email (after @, e.g. company.com)" -}}
{{ $gitemail := (printf "%s%s%s" $gitemail_before "@" $gitemail_after) -}}
{{ $gituser := promptString "git username" -}}

[data]
    osid = {{ $osid | quote }}
    gitemail = {{ $gitemail | quote }}
    gituser = {{ $gituser | quote }}

